
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	overflow: hidden;
	font-size: 14px;
	font-weight: normal;
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
}

@layer utilities {
	.br {
		@apply border-b border-gray-200 pb-3 mb-3 dark:border-slate-700
	}
}

@layer components {
	.info {
		@apply bg-blue-100 dark:bg-slate-700 dark:text-slate-200
	}
	.danger {
		@apply bg-red-100
	}
	.warning {
		@apply bg-orange-100
	}
}